* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Metropolis;
}


/* footer styles */

footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 1.2rem;
}


/* header styles */

header img {
    height: 300px;
}


/* recipe container styles */

div.recipe-container h1 {
    text-align: center;
    margin: 10px;
}

div.form {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form input {
    font-size: 1.5rem;
}

div.form button {
    padding: 5px;
}

div.form input {
    font-size: 1.5rem;
}